$bkgwhite : #fff;
$bkgBeige : #ffe7d2;

$fontBrown:#58402c;
$fontBluehover:#30488F;
$fontWhite: #fff;

$marginFirst: 100px 0 ;
$padding: 70px 0;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


.fullContainer{

  width: 100vw;
  max-width: 100%;
}

.container{

  width: 85%;
  margin: auto;
}


.generalCont{
  width: 60%;
  margin: auto;
  text-align: center;
  padding:$padding;
}

.titleCont{
  width: 70%;
  margin: auto;
}
