.first {
  background-color: $bkgwhite;
  color: $fontBrown;

  .container{
    display: flex;

    .motto{

      width: 40%;
      margin: $marginFirst;



      h1{
        margin-bottom: 8%;
        font-size: 3em;
      }

      h3{
        margin-bottom: 8%;
        font-size: 1.5em;

      }

      span{
        font-size: 0.8em;
        color: gray;
        margin: 0 8px 0 0;
      }

      span.signUp{
        background-color: $fontBluehover;
        padding: 5px;
        border: $fontBluehover;
        border-radius:10px;
        color: $fontWhite;
        font-size: 1.3em;
        cursor: pointer;

        &:hover{
          background-color: darken($fontBluehover,15%);
        }

        .fab{
          margin-right: 5px;
        }

      }
      p{
        margin-top:20px;

        &:hover{
          color: $fontBluehover;
          cursor: pointer;
        }
      }
    }

    img{

      width: 50%;
      height: 30%;
      margin: $marginFirst;
      margin-left: 12%;
    }
  }

}

.second{
  background-color: $bkgBeige;
  color: $fontBrown;

  .generalCont{
    border-bottom: 1px solid gray;

    .secondImgCont{
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 50px;

      div {
        width: 50%;
        height: 50%;


        img{

          width: 50%;
          height: 50%;
        }

        #specialImg{
          width: 40%;
          height:40%;
        }

      }

      p{
        margin-top: 20px;
        text-align: center;
      }
    }

    .imgCont2{
      width:50%;
      margin: auto;
      margin-top:50px;

      img{
        width: 50%;
        height: 50%;
      }
    }
  }
}


.third{
  background-color: $bkgBeige;
  color: $fontBrown;

  .generalCont{

    .thirdImgCont{
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 50px;

      div {
        width: 50%;
        height: 50%;


        img{

          width: 50%;
          height: 50%;
        }

        #specialImg2{
          width: 20%;
          height:20%;
        }

      }

      p{
        margin-top: 20px;
        text-align: center;
      }
    }

    .imgCont2{
      width:50%;
      margin: auto;
      margin-top:50px;

      img{
        width: 50%;
        height: 50%;
      }

      h2{

        margin-top: 20px;
      }
    }
  }
}


.fourth{
  background-color: $bkgwhite;
  color: $fontBrown;
  padding: $padding;

  &:after{
    content:"";
    clear: both;
    display: table;
  }

  .chatCont{

    float: left;
    width:50%;

    img{
      width: 100%;
    }
  }

  .chatTitle{
    float: left;
    width: 25%;
    margin-left: 50px;

    p{
      margin: 20px 0;
      font-size: 1.5em;
    }

    .learnmore{
      color: $fontBluehover;
    }

    .notchatimg{
      img{
        width: 70%;
      }
    }
  }
}


.fifth{
  background-color: $bkgwhite;
  color: $fontBrown;
  padding: $padding;

  &:after{
    content:"";
    clear: both;
    display: table;
  }

  .chatCont{

    float: right;
    width:50%;

    img{
      width: 100%;
    }
  }

  .chatTitle{
    float: right;
    width: 25%;
    margin-left: 50px;

    p{
      margin: 20px 0;
      font-size: 1.5em;
    }

    .learnmore{
      color: $fontBluehover;
    }

    .notchatimg{
      img{
        width: 70%;
      }
    }
  }
}


.sixth{
  background-color: $bkgwhite;
  color: $fontBrown;
  padding: $padding;

  &:after{
    content:"";
    clear: both;
    display: table;
  }

  .chatCont{

    float: left;
    width:50%;

    img{
      width: 100%;
    }
  }

  .chatTitle{
    float: left;
    width: 25%;
    margin-left: 50px;

    p{
      margin: 20px 0;
      font-size: 1.5em;
    }

    .learnmore{
      color: $fontBluehover;
    }

    .notchatimg{
      img{
        width: 70%;
      }
    }
  }
}


.seventh{
  background-color: $bkgwhite;
  color: $fontBrown;
  padding: $padding;

  &:after{
    content:"";
    clear: both;
    display: table;
  }

  .chatCont{

    float: right;
    width:50%;

    img{
      width: 100%;
    }
  }

  .chatTitle{
    float: right;
    width: 25%;
    margin-left: 50px;

    p{
      margin: 20px 0;
      font-size: 1.5em;
    }

    .learnmore{
      color: $fontBluehover;
    }

    .notchatimg{
      img{
        width: 70%;
      }
    }
  }
}
